<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>blog update Page</title>
        <%- include('./partials/style.ejs') %>
</head>

<body>
    <div class="container mt-6">
    <form action="/blog/update"  method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="coverImage" class="form-label">Cover Image :</label>
            <input type="file" name="coverImage"
              class="form-control" id="coverImage" aria-describedby="coverImage">
          </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title :</label>
            <input type="text"  placeholder="Enter title" value="<%= locals.blog ? locals.blog.title : "" %> "
                name="title" class="form-control" id="title" aria-describedby="title" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content :</label>
            <textarea class="form-control" name="content" placeholder="Leave a content here" id="content" style="height: 100px" required><%= locals.blog ? locals.blog.content : "" %></textarea>
        </div>
        <input class="form-control me-2 btn btn-outline-success" style="width: 85px;" name="<%= locals.blog._id %>" value="Submit" type="submit">
    </form>
</div>
    <%- include("./partials/script.ejs") %>
</body>

</html>