<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Home Page</title>
     <%_ include("./partials/style.ejs")%>
</head>

<body>
     <!-- Navber -->
    <%- include('./partials/nav.ejs') %>

    <!-- Popup model -->
    <%- include("./partials/popup.ejs") %>
<!-- Body content -->
   <%- include("./partials/content.ejs") %>

   <!-- footer -->
   <%- include("./partials/footer.ejs") %>

<!-- script -->
   <%- include("./partials/script.ejs") %>
</body>
</html>